<div class="card-header">
    <h3>
        <%= @document_title %>
    </h3>
</div>

<div class="card-body">
    <div class="mb-3 row">
        <div class="col-2">
            ISBN番号:
        </div>
        <div class="col-10">
            <%= @document.isbn %>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            資料名:
        </div>
        <div class="col-10">
            <%= @document.name %>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-2">
            <%= f.label :arrival_date, '入荷年月日', class:"form-label" %>
        </div>
        <div class="col-10">
            <%= f.date_field :arrival_date, class:"form-control w-auto", value: @stock.arrival_date || Date.today %>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-2">
            <%= f.label :disposal_date, '廃棄年月日', class:"form-label" %>
        </div>
        <div class="col-10">
            <%= f.date_field :disposal_date, class:"form-control w-auto", value: @stock.disposal_date %>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-2">
            <%= f.label :comment, '備考' %>
        </div>
        <div class="col-10">
            <%= f.text_area :comment, class:"form-control", value: @stock.comment, placeholder:"コメントを入力(任意)" %>
        </div>
    </div>
</div>
<%= f.hidden_field :document_id, value: @document.id %>
