<% @document_title = "在庫情報一覧" %>

<div class="row">
    <div class="col-2">
        <div class="left_fixed">
            <h2 style="color:gray"><%= @document_title %></h2>
            <%= form_with url: stocks_path, method: :get do |f| %>
            <p>
                <%= f.text_field :id, value: params[:id], placeholder: "ID" %>
            </p>
            <p>
                <%= f.text_field :name, value: params[:name], placeholder: "氏名" %>
                <%= f.submit '検索', name: nil%>
            </p>
            <% end %>
        </div>
    </div>
    <div class="col-10">
        <div class="right">
            <table class="table table-striped">
                <tr>
                    <th>資料ID</th>
                    <th>ISBN番号</th>
                    <th>資料名</th>
                    <th>入荷年月日</th>
                    <th>廃棄年月日</th>
                    <th>備考</th>
                </tr>
                <% @stocks.each do |s| %>
                    <tr>
                        <td><%= s.id %></td>
                        <td><%= s.document.isbn %></td>
                        <td><%= link_to s.document.name, stock_path(s), id: s.id, class:"link-primary" %></td>
                        <td><%= s.arrival_date %></td>
                        <td><%= s.disposal_date %></td>
                        <td><%= s.comment %></td>
                    </tr>
                <% end %>
            </table>

            <% if @stocks.count == 0 %>
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                該当する在庫は見つかりません
            </div>
            <% end %>
        </div>
    </div>
</div>