<% @document_title = "在庫情報詳細" %>

<div class="card">
    <div class="card-header">
        <%= @document_title %>
    </div>

    <div class="card-body">
        <div class="mb-3 row">
            <div class="col-2">
                ISBN番号:
            </div>
            <div class="col-10">
                <%= @stock.document.isbn %>
            </div>
        </div>        
        <div class="mb-3 row">
            <div class="col-2">
                資料名:
            </div>
            <div class="col-10">
                <%= @stock.document.name %>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                入荷年月日:
            </div>
            <div class="col-10">
                <%= @stock.arrival_date %>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                廃棄年月日:
            </div>
            <div class="col-10">
                <%= @stock.disposal_date %>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                備考:
            </div>
            <div class="col-10">
                <%= @stock.comment %>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <div>
                <%= link_to '編集する', edit_stock_path, class:"btn  btn-sm btn-outline-primary" %>
                <%= link_to '在庫一覧へ', stocks_path, class:"btn btn-link" %>
            </div>
            <%= button_to '誤登録情報を削除', stock_path(@stock), method: :delete, onclick: "return confirm('削除しますか?')", class:"btn btn-sm btn-outline-secondary" %>
        </div>
    </div>
</div>