<div class="card-header">
    <h3>
        <%= @document_title %>
    </h3>
</div>

<div class="card-body">
    <div class="mb-3">
        <%= f.label :name, '氏名', class:"form-label" %>
        <%= f.text_field :name, class:"form-control", value: @user.name, placeholder:"(例)新宿太郎" %>
    </div>
    <div class="mb-3">
        <%= f.label :post_code, '郵便番号' %>
        <%= f.text_field :post_code, class:"form-control w-auto", value: @user.post_code, placeholder:"(例)000-0000" %>
    </div>
    <div class="mb-3">
        <%= f.label :address, '住所' %>
        <%= f.text_field :address, class:"form-control", value: @user.address, placeholder:"(例)東京都新宿区1丁目1-1" %>
    </div>
    <div class="mb-3">
        <%= f.label :tel_number, '電話番号' %>
        <%= f.text_field :tel_number, class:"form-control w-auto", value: @user.tel_number, placeholder:"(例)012-345-6789" %>
    </div>
    <div class="mb-3">
        <%= f.label :email, 'E-mail' %>
        <%= f.text_field :email, class:"form-control", value: @user.email, placeholder:"(例)name@example.com" %>
    </div>
    <div class="mb-3">
        生年月日
        <%= f.date_field :birth_date, class:"form-control w-auto", value: @user.birth_date %>
    </div>
    <div class="mb-3">
        入会年月日
        <%= f.date_field :join_date, class:"form-control w-auto", value: @user.join_date || Date.today %>
    </div>
    <div class="mb-3">
        退会年月日
        <%= f.date_field :resign_date, class:"form-control w-auto", value: @user.resign_date %>
    </div>
</div>