<% @document_title = "会員情報一覧" %>

<div class="row">
    <div class="col-3">
        <div class="left_fixed">
            <div class="card">
                <%= form_with url: users_path, method: :get do |f| %>
                    <div class="card-header">検索フォーム</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <%= f.text_field :id, value: params[:id], class:"form-control", placeholder: "ID" %>
                        </div>
                        <div class="mb-3">
                            <%= f.text_field :name, value: params[:name], class:"form-control", placeholder: "氏名" %>
                        </div> 
                        <div class="mb-3">
                            <%= f.radio_button :presence_or_all, :all, checked: params[:presence_or_all] != "presence" %>
                            <%= f.label :presence_or_all, "全件表示", value: params[:presence_or_all] %>
                            <%= f.radio_button :presence_or_all, :presence, checked: params[:presence_or_all] == "presence" %>
                            <%= f.label :presence_or_all, "現会員のみ表示", valu: params[:presence_or_all] %>
                        </div>                                                        
                    </div>
                    <div class="card-footer">
                        <%= f.submit '検索', name: nil, class:"btn btn-success w-100" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="right">
            <div class="pb-2 border-bottom mb-3 d-flex justify-content-between align-items-start">
                <h1 class="h3"><%= @document_title %>(<%= @users.total_count %>件)</h1>
                <%= link_to '新規会員登録', new_user_path, class:"btn btn-sm btn-outline-danger" %>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>氏名</th>
                            <th>郵便番号</th>
                            <th>住所</th>
                            <th>電話番号</th>
                            <th>E-mail</th>
                            <th>生年月日</th>
                            <th>入会年月日</th>
                            <th>退会年月日</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.each do |u| %>
                            <tr onclick="location.href='/users/<%= u.id %>'">
                                <td><%= u.id %></td>
                                <td><%= u.name %></td>
                                <td><%= u.post_code %></td>
                                <td><%= u.address %></td>
                                <td><%= u.tel_number %></td>
                                <td><%= u.email %></td>
                                <td><%= u.birth_date %></td>
                                <td><%= u.join_date %></td>
                                <td><%= u.resign_date %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <%= paginate @users, theme: 'bootstrap-5' %>
            </div>

            <% if @users.count == 0 %>
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                該当する会員は見つかりません
            </div>
            <% end %>
        </div>
    </div>
</div>