<% @document_title = "新規会員登録" %>

<div class="card">
    <%= render 'commons/errors', model: @user %>

    <div class="card container">
        <%= form_with model: @user do |f| %>
            <%= render 'form', f: f %>
            <div class="card-footer">
                <%= f.submit '登録', class:"btn btn-danger" %>
                <%= link_to '会員一覧へ', users_path, class:"btn btn-sm btn-outline-secondary" %>
            </div>
        <% end %>
    </div>
</div>
