<% @document_title = "会員情報詳細" %>

<table border=1>
        <tr>
            <th>ID</th>
            <td><%= @user.id %></td>
        </tr>
        <tr>
            <th>氏名</th>
            <td><%= @user.name %></td>
        </tr>
        <tr>
            <th>郵便番号</th>
            <td><%= @user.post_code%></td>
        </tr>
        <tr>
            <th>住所</th>
            <td><%= @user.address %></td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td><%= @user.tel_number %></td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <th>生年月日</th>
            <td><%= @user.birth_date %></td>
        </tr>
        <tr>
            <th>入会年月日</th>
            <td><%= @user.join_date %></td>
        </tr>
        <tr>
            <th>退会年月日</th>
            <td><%= @user.resign_date %></td>
        </tr>
</table>

<%= link_to '編集', edit_user_path, class:"link-dark" %>
<%= link_to '一覧へ戻る', users_path, class:"link-dark" %>

<p><%= button_to '削除', user_path(@user), method: :delete, onclick: "return confirm('削除しますか?')" %></p>