<div class="card-header">
    <h3>
        <%= @document_title %>
    </h3>
</div>

<div class="card-body">
    <div class="mb-3">
        <%= f.label :isbn, 'ISBN番号', class:"form-label" %>
        <%= f.text_field :isbn, class:"form-control",  value: @document.isbn, placeholder:"1234567890123(半角数字13桁)" %>
    </div>
    <div class="mb-3">
        <%= f.label :name, '資料名' %>
        <%= f.text_field :name, class:"form-control", value: @document.name, placeholder:"7つの習慣" %>
    </div>
    <div class="mb-3">
        <%= f.label :category_id, '分類' %>
        <%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: '選択してください'}, class:"form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label :author, '著者' %>
        <%= f.text_field :tel_number, class:"form-control", value: @document.author, placeholder:"田中文豪" %>
    </div>
    <div class="mb-3">
        <%= f.label :publisher, '出版社' %>
        <%= f.text_field :publisher, class:"form-control", value: @document.publisher, placeholder:"ワクワク文庫" %>
    </div>
    <div class="mb-3">
        出版日
        <%= f.date_field :published_on, class:"form-control", value: @document.published_on %>
    </div>
</div>