<% @document_title = "目録情報一覧" %>


<div class="row">
    <div class="col-3">
        <div class="left_fixed">
            <div class="card">
                <%= form_with url: documents_path, method: :get do |f| %>
                    <div class="card-header">検索フォーム</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <%= f.text_field :isbn, value: params[:isbn], class:"form-control", placeholder: "ISBN番号" %>
                        </div>
                        <div class="mb-3">
                            <%= f.text_field :name, value: params[:name], class:"form-control", placeholder: "資料名" %>
                        </div>                            
                        <div class="mb-3">
                            <%= f.text_field :author, value: params[:author], class:"form-control", placeholder: "著者" %>
                        </div>    
                        <div class="mb-3">
                            分類
                            <%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: '選択してください', selected: params[:category_id]}, class:"form-control" %>
                        </div>
                        <div class="mb-3">
                            <%= f.radio_button :new_or_all_documents, :all, checked: params[:new_or_all_documents]!= "new"  %>
                            <%= f.label :new_or_all_documents, "全件表示", value: params[:new_or_all_documents] %>
                            <%= f.radio_button :new_or_all_documents, :new, checked: params[:new_or_all_documents]== "new" %>
                            <%= f.label :new_or_all_documents, "新刊のみを表示", valu: params[:new_or_all_documents] %>
                        </div>
                    </div>
                    <div class="card-footer">
                        <%= f.submit '検索', name: nil, class:"btn btn-success w-100" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="right">
            <div class="pb-2 border-bottom mb-3 d-flex justify-content-between align-items-start">
                <h1 class="h3"><%= @document_title %>(<%= @documents.total_count %>件)</h1>
                <%= link_to '新規目録登録', new_document_path, class:"btn btn-sm btn-outline-danger" %>
            </div>                
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>目録ID</th>
                            <th>ISBN番号</th>
                            <th>資料名</th>
                            <th>分類</th>
                            <th>著者</th>
                            <th>出版社</th>
                            <th>出版日</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @documents.each do |d| %>
                            <tr onclick="location.href='/documents/<%= d.id%>'">
                                <td><%= d.id %></td>
                                <td><%= d.isbn %></td>
                                <td><%= d.name %></td>
                                <td><%= d.category.category_code %>:<%= d.category.name %></td>
                                <td><%= d.author %></td>
                                <td><%= d.publisher %></td>
                                <td>
                                    <%= d.published_on %>
                                    <%if d.published_within_3months? %>
                                    ☆
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <%= paginate @documents, theme: 'bootstrap-5' %>
            </div>

            <% if @documents.count == 0 %>
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                該当する目録は見つかりません
            </div>
            <% end %>
        </div>
    </div>
</div>
