<% @document_title = "貸出情報確認" %>

<div class="card">
    <div class="card-header">
        登録内容を確認してください
    </div>

    <div class="card-body">
        <div class="mb-3 row">
            <div class="col-2">
                会員ID:
            </div>
            <div class="col-10">
                <%= @lending.user_id %>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                氏名:
            </div>
            <div class="col-10">
                <%= @lending.user.name %>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                資料ID:
            </div>
            <div class="col-10">
                <%= @lending.stock_id %>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                資料名:
            </div>
            <div class="col-10">
                <%= @lending.stock.document.name %>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                貸出年月日:
            </div>
            <div class="col-10">
                <%= @lending.lent_date %>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                返却期日:
            </div>
            <div class="col-10">
                <%= @lending.due_date %>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                備考:
            </div>
            <div class="col-10">
                <%= @lending.comment %>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <div>
                <%= form_with model: @lending do |f| %>
                    <%= f.submit '登録を確定する', class:"btn  btn-sm btn-outline-primary" %>

                    <%= f.hidden_field :user_id, value: @lending.user_id %>
                    <%= f.hidden_field :stock_id, value: @lending.stock_id %>
                    <%= f.hidden_field :lent_date, value: @lending.lent_date %>
                    <%= f.hidden_field :due_date, value: @lending.due_date %>
                    <%= f.hidden_field :comment, value: @lending.comment %>
                <% end %>
                <%= link_to '入力画面に戻る', new_lending_path(user_id: @lending.user_id, stock_id: @lending.stock_id, lent_date: @lending.lent_date), class:"btn btn-link" %> 
            </div>
        </div>
    </div>
</div>
