<% @document_title = "貸出情報一覧" %>

<div class="row">
    <div class="col-3">
        <div class="left_fixed">
            <div class="card">
                <%= form_with url: lendings_path, method: :get do |f| %>
                    <div class="card-header">検索フォーム</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <%= f.text_field :id, value: params[:id], class:"form-control", placeholder: "ID" %>
                        </div>
                        <div class="mb-3">
                            <%= f.text_field :name, value: params[:name], class:"form-control", placeholder: "氏名" %>
                        </div>                                                     
                    </div>
                    <div class="card-footer">
                        <%= f.submit '検索', name: nil, class:"btn btn-success w-100" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="right">
            <div class="pb-2 border-bottom mb-3 d-flex justify-content-between align-items-start">
                <h1 class="h3"><%= @document_title %></h1>
                <%= link_to '新規貸出登録', new_lending_path, class:"btn btn-sm btn-outline-danger" %>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>会員ID</th>
                        <th>氏名</th>
                        <th>資料ID</th>
                        <th>資料名</th>
                        <th>貸出年月日</th>
                        <th>返却期日</th>
                        <th>返却年月日</th>
                        <th>備考</th>
                    </tr>
                    <% @lendings.each do |l| %>
                        <tr>
                            <td><%= l.user_id %></td>
                            <td><%= link_to l.user.name, user_path(l.user_id), method: :get, class:"link-primary" %></td>
                            <td><%= l.stock_id %></td>
                            <td><%= link_to l.stock.document.name, lending_path(l.id), method: :get, class:"link-primary" %></td>
                            <td><%= l.lent_date %></td>
                            <td><%= l.due_date %></td>
                            <td><%= l.return_date %></td>
                            <td><%= l.comment %></td>
                        </tr>
                    <% end %>
                </table>
                <%= paginate @lendings, theme: 'bootstrap-5' %>
            </div>

            <% if @lendings.count == 0 %>
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                該当する貸出記録は見つかりません
            </div>
            <% end %>
        </div>
    </div>
</div>
