<% @document_title = "新規貸出登録" %>

<div class="card">
    <%= render 'commons/errors', model: @lending %>

    <div class="card container">

        <div class="card-header">
            <h3>
                <%= @document_title %>
            </h3>
        </div>

        <%= form_with model: @lending, url: confirm_path, method: :get do |f| %>
            <div class="card-body">
                <div class="mb-3">
                    <%= f.label :user_id, '会員ID' %>
                    <%= f.text_field :user_id, class:"form-control w-auto", value: @lending.user_id, placeholder:"(例)123" %>
                </div>
                <div class="mb-3">
                    <%= f.label :stock_id, '資料ID' %>
                    <%= f.text_field :stock_id, class:"form-control w-auto", value: @lending.stock_id, placeholder:"(例)123" %>
                </div>
                <div class="mb-3">
                    貸出年月日
                    <%= f.date_field :lent_date, class:"form-control w-auto", value: @lending.lent_date || Date.today %>
                </div>
            </div>        

            <div class="card-footer">
                <%= f.submit '登録', class:"btn btn-danger" %>
                <%= link_to '一覧へ戻る', lendings_path, class:"btn btn-link" %>
            </div>   
        <% end %>
    </div>
</div>
